@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

:root {
  --color-barra-lateral: rgb(255, 255, 255);

  --color-texto: rgb(0, 0, 0);
  --color-texto-menu: rgb(134, 136, 144);

  --color-menu-hover: rgb(238, 238, 242);
  --color-menu-hover-texto: rgb(0, 0, 0);

  --color-boton: rgb(0, 0, 0);
  --color-boton-texto: rgb(255, 255, 255);

  --color-linea: rgb(180, 180, 180);

  --color-switch-base: rgb(201, 202, 206);
  --color-switch-circulo: rgb(241, 241, 241);

  --color-scroll: rgb(192, 192, 192);
  --color-scroll-hover: rgb(134, 134, 134);

  --bg-color: white;
  --text-color: black;
}

.dark-mode {
  --color-barra-lateral: rgb(44, 45, 49);

  --color-texto: rgb(255, 255, 255);
  --color-texto-menu: rgb(110, 110, 117);

  --color-menu-hover: rgb(0, 0, 0);
  --color-menu-hover-texto: rgb(238, 238, 238);

  --color-boton: rgb(255, 255, 255);
  --color-boton-texto: rgb(0, 0, 0);

  --color-linea: rgb(90, 90, 90);

  --color-switch-base: rgb(39, 205, 64);
  --color-switch-circulo: rgb(255, 255, 255);

  --color-scroll: rgb(68, 69, 74);
  --color-scroll-hover: rgb(85, 85, 85);

  --bg-color: #2c2d31;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: darkcyan;
}

/*-----------------Menu*/
.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  right: 15px;
  top: 15px;
  z-index: 100;
}

/*----------------Barra Lateral*/
.barra-lateral {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background-color: var(--color-barra-lateral);
  transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
  z-index: 50;
}


.mini-barra-lateral {
  width: 80px;
}

.barra-lateral span {
  width: 100px;
  white-space: nowrap;
  font-size: 18px;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
  opacity: 0;
  width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina {
  width: 100%;
  height: 45px;
  color: var(--color-texto);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.barra-lateral .nombre-pagina ion-icon {
  min-width: 50px;
  font-size: 40px;
  cursor: pointer;
}

.barra-lateral .nombre-pagina span {
  margin-left: 5px;
  font-size: 25px;
}

/*------------> Botón*/
.barra-lateral .boton {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
}

.barra-lateral .boton ion-icon {
  min-width: 50px;
  font-size: 25px;
}

/*--------------> Menu Navegación*/
.barra-lateral .navegacion {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar {
  width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
  list-style: none;
  /* display: flex; */
  margin-bottom: 5px;
}

.barra-lateral .navegacion a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-texto-menu);
}

/* * AQUIIIIIIIIIIIIIIIIIIIIIIIIIIII HOVER DE LAS OPCIONES */
.barra-lateral .navegacion a:hover {
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

/* .barra-lateral .navegacion li:active {
  background-color: #007bff;
} */
.barra-lateral .navegacion ion-icon {
  min-width: 50px;
  font-size: 20px;
}

/*-----------------> Linea en modo oscuro*/
.barra-lateral .linea {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro {
  width: 100%;
  margin-bottom: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {
  width: 150px;
  height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion-icon {
  width: 50px;
  font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 45px;
  cursor: pointer;
}

.barra-lateral .modo-oscuro .base {
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 20px;
  background-color: var(--color-switch-base);
  border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo {
  position: absolute;
  width: 18px;
  height: 90%;
  background-color: var(--color-switch-circulo);
  border-radius: 50%;
  left: 2px;
  transition: left 0.5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido {
  left: 15px;
}

/*---------------> Usuario*/
.barra-lateral .usuario {
  width: 100%;
  display: flex;
}

.barra-lateral .usuario img {
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}

.barra-lateral .usuario .info-usuario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto);
  overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.barra-lateral .usuario .nombre {
  font-size: 15px;
  font-weight: 600;
}

.barra-lateral .usuario .email {
  font-size: 13px;
}

.barra-lateral .usuario ion-icon {
  font-size: 20px;
}

/*-------------main*/

/* #inbox #inbox__options { */
/* #inbox {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
  } */

.clicked {
  background-color: var(--color-menu-hover);
  color: green;
}

main {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.5s ease;
}

main.min-main {
  margin-left: 80px;
}



/*-------------------> MAIN FILTROS CSS
/* Estilos para la sección de filtros */
.sidebar-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.sidebar-filters h3 {
  margin-right: 30px;
}

.filtro {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.filtro label {
  margin-right: 10px;
}

.filtro input,
.filtro select {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.filtro input[type="submit"] {
  padding: 6px 15px;
  margin-left: 15px;
  /* background-color: #007bff !important; */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filtro input[type="submit"]:active {
  filter: brightness(90%);
}

/*------------------> Titulos Filtros*/
.seccionFiltrosDocentes {
  display: grid;
  padding: 10px 0px;
  background: var(--bg-color);
  color: var(--text-color);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.seccionFiltrosHorarios {
  display: grid;
  padding: 10px 0px;
  background: var(--bg-color);
  color: var(--text-color);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  max-width: 100%;
}

.seccionFiltrosCarreras {
  display: grid;
  padding: 10px 0px;
  background: var(--bg-color);
  color: var(--text-color);
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

.fila-profesor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fila-profesor span {
  flex: 1;
  padding: 5px;
}

/* Estilos para la tabla de profesores */
#tabla-profesores {
  width: 100%;
  border-collapse: collapse;
}

.fila-profesor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.fila-profesor:last-child {
  border-bottom: none;
}

.fila-profesor span {
  flex: 1;
  padding: 10px;
}

/* .fila-profesor span:nth-child(odd) {
  background-color: #f2f2f2;
}

.fila-profesor span:nth-child(even) {
  color: #f2f2f2;
} */

/* TODO APELLIDO AQUI DE ALGO */
#apellido {
  margin-left: 10px;
}




/* .fila-profesor.spanOscuro:nth-child(odd) { */



/*TODO */


/* HOME */
.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.stat-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 180px;
  transition: 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-icon {
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 10px;
}

.stat-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.stat-info span {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}


/* todo  */

.daily-teachers {
  margin-top: 30px;
}

.daily-teachers h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.teachers-list {
  display: flex;
  flex-direction: column;
}

.career-section {
  margin-bottom: 30px;
}

.career-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.teacher-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teacher-info h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.classes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.classes li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.class-name {
  font-weight: bold;
}

.class-room,
.class-time {
  color: #666;
}


/* TODO */

.datosIncorrectos {
  width: 100%;
  padding: 15px;
  background: #f14747;
  font-family: sans-serif;
  font-size: large;
  margin: 20px 0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background: #ff0000;
}

/** ESTILOS PARA FILA HOME */

#listaAulas {
  margin-left: 15px;
}



.data-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.data-item {
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}

.data-item:hover {
  /* background-color: #e9ecef; */
  filter: brightness(.8);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.data-item .name {
  font-weight: bold;
  color: #495057;
}

.data-item .surname {
  color: #6c757d;
  margin-left: 5px;
}

/* Estilos específicos para diferentes tipos de datos */
.lista__Docentes {
  border-left: 4px solid #007bff;
}

.lista__Aulas {
  border-left: 4px solid #28a745;
}

.lista__Materias {
  border-left: 4px solid #ffc107;
}

.lista__Carreras {
  border-left: 4px solid #dc3545;
}


.idHomeCarrera {
  float: right;
}

.darkHome {
  background-color: #2c2d31;
  color: white;
}





/* .dark-mode {

} */

.data-item,
.stat-card {
  background-color: var(--bg-color);
  color: var(--text-color);
}




.fila-profesor span:nth-child(odd) {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

.fila-profesor span:nth-child(even) {
  color: #f2f2f2;
}


.fila-profesor span:nth-child(odd) {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transition: .3s ease;
}

.labelEspacio{
  margin-left: 15px;
}


ion-icon[name='receipt']{
  font-size: 1.4rem;
  margin-left: 10px;
  color: #fa1911;
}
.iconoPdf{
  background: none;
  border: none;
  font-size: 1.4rem;
}
.textCenter{
  /* text-align: center; */
}
.iconoFlecha{
  /* border: none; */
  /* background: none; */
}

/*------------------> Responsive*/
@media (max-height: 660px) {
  .barra-lateral .nombre-pagina {
    margin-bottom: 5px;
  }

  .barra-lateral .modo-oscuro {
    margin-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .barra-lateral {
    position: fixed;
    left: -250px;
  }
  

  .max-barra-lateral {
    left: 0;
  }

  .menu {
    display: flex;
  }

  .menu ion-icon:nth-child(2) {
    display: none;
  }

  main {
    margin-left: 0;
  }

  main.min-main {
    margin-left: 0;
  }

  .seccionFiltros {
    font-size: 12px;
  }

  .fila-profesor span {
    font-size: 6px;
  }

  .spanDatos{
    font-size: 6px;
  }
  /* FILTROS RESPON */
  #desaparecer {
    visibility: hidden;
    position: absolute;
    margin-bottom: 15px;
  }

 
  .data-item {
    word-break: break-all !important;
    word-wrap: break-word !important;
  }

  .data-item span {
    /* background: green ; */
    max-width: 55%;
  }

  .filtro{
    display: flex;
    flex-wrap: wrap;
  }
  #fecha{
    margin: 0;
  }
  .bloquesFiltro{
    margin: 0;
  }

  .labelEspacio{
    margin: 0;
  }
  .sidebar-filters {
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    /* color: #007bff; */
    flex-wrap: wrap;
  }

  .sidebar-filters h3 {
    margin-bottom: 10px;
  }



  .filtro {
    margin-right: 0;
  }

  .filtro:not(:last-child) {
    margin-bottom: 10px;
  }

  #materia,
  #fecha {
    padding: 0px;
  }

  #fecha {
    margin-left: 13px;
  }

  .stat-card {
    width: 23%;
  }

  .stat-info >  span {
    font-size: 14px ;
  }

  .stat-info >  h3 {
    font-size: 14px ;
  } 

  .pilares>h3,
  .data-item {
    font-size: 11px;
  }


}